{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login_page_wrapper -align-center" style="width: 80%">
    <div class="md-card" style="opacity: 1; transform: scale(1);">
        <div class="md-card-content large-padding">
            <a class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" href="{{ path('homepage') }}"></a>
            <h2 class="heading_a uk-margin-medium-bottom">{% trans from 'messages' %}user.check_email{% endtrans %}</h2>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
